/* REGRAS GERAIS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #BBBBC1;
  --bg-color: #100E1C;
  --aside-color: #1B1D2E;
  --inputs-color: #181721;
  --button-color: #295ADF;
  --link-color: #565B79;
}

body{
  background-color: var(--bg-color);
  display: flex;
  color: var(--text-color);
  font-family: 'Titillium Web', sans-serif;
}

/* REGRAS DO HEADER */

header{
  background-color: var(--aside-color);
  width: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#js-logo{
  width: 2.5rem;
  margin-top: 3rem;
}

#social-logos{
  list-style: none;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-logos li{
  width: 1.8rem;
  margin-top: 1.5rem;
}

/* REGRAS DO MAIN */

main{
  margin: 3rem 0 0 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-project{
  display: flex;
  justify-content: space-between;
}

#project-title{
  font-size: 2rem;
}

.header-project input{
  background-color: var(--inputs-color);
  border-radius: 4px 4px 4px 4px;
  width: 16rem;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--text-color);
 
}

.header-project input:focus{
  outline: 1px solid #BBBBC1;
}

/* GALERIA */

#project-gallery{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main-project{
  border: 1px solid red;
  border-radius: 10px;
  flex: 1;
}

#projects-little{
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 1.5rem 0;
}

#projects-little .project{
  font-weight: 600;
}

.project img{
  width: 10rem;
  height: 6rem;
  border: 2px solid #fff;
  border-radius: 7px;
}

/* REGRAS DO ASIDE */

#project-info{
  background-color: var(--aside-color);
  width: 27rem;
  margin: 8rem 0 0 4rem;
  border-radius: 10px 0 0 10px;
  padding: 3rem;
}

#project-info h2,
#project-info h3{
  margin-bottom: .5rem;
}

#project-info p,
#project-info ul{
  margin-bottom: 1.5rem;
}

#project-info button{
  border: none;
  background-color: var(--button-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 600;
  font-size: .9rem;
  width: 10rem;
  height: 2.5rem;
  cursor: pointer;
}

#project-info button:hover{
  background-color: #366EEA;
}

.hidden{
  display: none;
}