* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: auto;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #1E0057;
}

.press-start-btn {
  animation: blinker 1s linear infinite;
  color: #fffafa;
}

.press-start-btn:hover {
  cursor: pointer;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.container{
  background-color: #360089;
  padding: 70px;
  border: 5px solid goldenrod;
}

.content{
  display: none;
  flex-direction: column;
  gap: 20px;
  color: #fffafa;
}

.content h1{
  font-size: 25px;
}

.content p{
  font-size: 12px;
  line-height: 25px;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.form input[type="number"] {
  width: 200px;
  height: 20px;
  font-size: 10px;
  padding: 5px;
  margin-right: 20px;
}

.form input[type="submit"] {
  font-size: 10px;
  height: 20px;
  padding: 5px;
  background: #fff;
}

.form input[type="submit"]:hover {
  cursor: pointer;
}

.form input[type="submit"]:active {
  font-size: 10px;
  height: 20px;
  padding: 5px;
  background: #ccc;
}

.lastResult {
  color: white;
  padding: 3px;
}